.title
{
    font-size: 14px;
    margin: 0px;
}

.close-button
{
    width:25px;
    height:25px;
    border:none;
    margin-left: 180px;
    background-color: transparent;
    padding: 0px;
}

.close-button:hover
{
    cursor: pointer;
}

.search-icon
{
    background-color: rgb(37, 10, 134);
    height:24px;
    width:24px;
}

.icon
{
    color:white;
}

.div-align
{
    display:flex;
}

input
{
    width:300px;
    border-radius: 4px;
}

.button-div
{
    align-self: center;
}

.button-1
{
  background-color: rgb(37, 10, 134);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight:bold;
  padding-bottom: 0px;
  cursor: pointer;
  height:30px;
  border-radius: 4px;
  bottom:3px;
}

.button-1:hover
{
    background-color:rgb(81, 158, 230);
}