.title
{
    font-size: 14px;
    margin: 0px;
}

.close-button
{
    width:25px;
    height:25px;
    border:none;
    margin-left: 180px;
    background-color: transparent;
    padding: 0px;
}

.close-button:hover
{
    cursor: pointer;
}

.search-icon
{
    background-color: rgb(37, 10, 134);
    height:24px;
    width:24px;
}

.icon
{
    color:white;
}

.div-align
{
    display:flex;
}

input
{
    width:300px;
    border-radius: 4px;
}

.button-div
{
    margin-left:100px;
}

.button-1
{
  background-color: rgb(37, 10, 134);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight:bold;
  padding-bottom: 0px;
  cursor: pointer;
  height:30px;
  border-radius: 4px;
  bottom:3px;
}

.button-1:hover
{
    background-color:rgb(81, 158, 230);
}


.mat-header-row
  {
    height:30px !important;
  }

.mat-header-cell
  {
    padding-left:10px !important;
  }

.mat-row
{
    height:30px !important;
}

.mat-cell.cdk-column-select
{
    padding-left:10px !important;
    height:30px !important;
    padding-right: 24px !important;
}

td{
    border:none;
}

th{
    border:none;
}

.mat-elevation-z8
{
    box-shadow: none;
}