<div id='header'><p mat-dialog-title class="title">
  Assign Subjects? </p> 
<mat-icon  class="close-button" (click)="onNoClick()">close </mat-icon>
</div>
<hr>
<div>

    <div class="linehead"> 
        Rule Logic Text
      </div>  <br>
      <textarea name="name" ngModel  required class="textarea"></textarea>
       <br>
    <hr>  
    <div class="linehead" style="margin-left: 70px">Subjects will be assigned to ARM IF:</div><br>
    <div class="div1">
      <p class="labels">Visit/Frequency:</p>&nbsp;
        <select  id="category" class="dropdown" (change)="onSelectVisit($event.target.value)">
          <option value="" disabled selected hidden>Select an option</option>
          <option *ngFor="let item of visits; let i = index" [value]="visits[i]">{{visits[i]}}</option>       
        </select>
    </div>
    <div class="div1">
        <p class="labels">Form:</p>&nbsp;
          <select  id="category" class="dropdown" (change)="onSelectForm($event.target.value)">
            <option value="" disabled selected hidden>Select an option</option>
            <option *ngFor="let item of forms; let i = index" [value]="forms[i]">{{forms[i]}}</option>       
          </select>
    </div>
    <div class="div1">
        <p class="labels">Field:</p>&nbsp;
          <select  id="category" class="dropdown" (change)="onSelectField($event.target.value)">
            <option value="" disabled selected hidden>Select an option</option>
            <option *ngFor="let item of fields; let i = index" [value]="fields[i]">{{fields[i]}}</option>       
          </select>
    </div>
    <br>
    <table id="mainTable" >
      <tr class="table-header-color" >
        <th >DATA TRAJECTORY NAME</th>
        <th>Value</th> 
        <th>Manually Assign</th> 
      </tr>
      <tr *ngFor="let t of datatrajectory ; let i = index">
       <td id="col-1">{{datatrajectory[i]}}</td>
       <td id="col-1">
        <select  id="category" class="selection" (change)="onSelectValue($event.target.value,datatrajectory[i],i)">
          <option value="" disabled selected hidden>Select an option</option>
          <option *ngFor="let item of values; let i = index" [value]="values[i]">{{values[i]}}</option>       
        </select>
       </td>
      <td id="col-2"  ><mat-icon (click)="manualassign(datatrajectory[i],i)" class="lastcolumn">settings</mat-icon></td>
     </tr>
    </table>
    <hr>
    <button class="button-1" (click)="addsubject()">Done</button> 
    <button  mat-dialog-close class="button-2">Cancel</button>
 
 
</div>
 
  

    

  