.title
{
    font-size: 16px;
    margin: 0px;
}

.close-button
{
    width:25px;
    height:25px;
    border:none;
    margin-left: 700px;
    background-color: transparent;
    padding: 0px;
}

.close-button:hover
{
    cursor: pointer;
}

#header
{
    display:flex;
}

.align
{
    display: flex;
}

 .button-1
 {
     background-color:  rgb(37, 10, 134);
     color:white;
     height:30px;
     font-size: 12px;
     font-weight: bold;
 }

 .button-2
 {
     margin-left:20px;
     height:30px;
     font-size: 12px;
 }

 .button-1:hover
 {
     background-color:rgb(81, 158, 230);
 }

 .button-2:hover
 {
     color:rgb(81, 158, 230);
 }

 .div1
 {
     height:260px;
 }

.div2
{
    margin-top:40px;
    margin-left:30px;
    width:105px;
    height:260px;
}

.div3
{
    margin-top:40px;
    margin-left:30px;
    width:105px;
    height:260px;
}

.div4
{
    margin-left:30px;
    height:260px;
}

.divider
{
    margin-left:200px;
    margin-right:30px;
}

.text-align
{
    vertical-align: 3px !important;
    font-size:12px;
    font-weight: bold;
    height:20px;
}

.add-icon
{
    color:rgb(81, 158, 230);
}

.add-icon:hover
{
    cursor: pointer;
}

.button-div
{
    margin-left:250px;
    display:flex;
}

.select
{
    font-weight: bold;
}