.button-1
{
    background-color:  rgba(36, 52, 125,1);
    color:white;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    width: 72px;
    height: 32px;
    border:none;
    font-style: normal;
    font-family: "Arial Bold","Arial";
    border-radius:4px;
    margin-left: 120px;
    
}

.button-2
{
   
    background-color:  rgba(238, 238, 238,1);
    color:#525252;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    position: absolute;
    width: 49px;
    height: 32px;
    border:none;
    font-style: normal;
    border-radius:4px;
    margin-left: 220px;

}

 .button-1:hover
    {
        background-color:rgba(33, 123, 192,1);
    }


    .button-2:hover
    {
        background-color:rgba(201, 201, 201,1);
    }
    .title
    {
        font-size: 14px;
        margin: 0px;
    }
    .close-button
    {
        width:25px;
        height:25px;
        border:none;
        margin-left: 200px;
        background-color: transparent;
        padding: 0px;
        color:#333333;
    }
    .close-button:hover{
        cursor: pointer;
        opacity: 0.75;
    }
    #header
    {
        display:flex;
    }
    
    .textarea{
       width: 350px;
       height: 50px;
        background-color: rgba(255,255,255,1);
       
    }
    .linehead{
        font-size: 12px;
    }
    .list{
        width: 150px;
        height: 250px;
        background-color: rgba(255,255,255,1);
        border: gray;
        border-style: solid;
        border-width: 1px;
        color: black;
        
        
     }
     .highlight:hover{
        background:grey;
      }


     ul{
         list-style-type: none;
         padding-left: 0px;
         padding-top: 0px;
         padding-right: 0px;
     }
     

     .action{
        width: 50px;

     }
     .icons{
         padding-left: 10px;
         color: #24347D;
         height:32px;
     }
     .icons:hover{
         cursor: pointer;
     }
     .div1{
        display: flex;
        padding-top: 10px; 
     }
     .selected {
        background:rgb(61, 143, 250);
      }