<div>Study: {{data?.studyId}} <mat-icon class="icon-main">arrow_drop_down_circle</mat-icon></div><br>
      <div class="side-link">   
        <div class="header"><span >Expected Data & IDRP Checks</span></div>
        <div class="side-div">
        <a class="links" href="#assign">Assign Subjects</a> &nbsp; &nbsp;
        <a class="links" href="#submitReview">Submit for Review</a> &nbsp; &nbsp;
        <a class="links" href="#submitApproval">Submit for Approval</a>
      </div>
      </div>
      <mat-divider></mat-divider><br>
      
       <div class="side-button">
          <button class="side-button-1" ><span class="text-align">Add Expected Data&nbsp;</span><mat-icon>add</mat-icon></button>
          <button class="side-button-1" style="margin-left:15px;"><span class="text-align">Add IDRP Checks&nbsp;</span><mat-icon>add</mat-icon></button>
       </div>

      <mat-tab-group [selectedIndex]="1" animationDuration="0ms">
          
          <mat-tab  id='a' label="IDRP CHECK"><app-idrp-check></app-idrp-check></mat-tab>
          <mat-tab label="DATA TRAJECTORY"><app-data-trajectory></app-data-trajectory></mat-tab>
          <mat-tab label="APPLIED VISITS"><app-applied-visits></app-applied-visits></mat-tab>
          <mat-tab label="CRITICAL DATA"><app-critical-data></app-critical-data></mat-tab>
      </mat-tab-group>
<p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>
