
.title{
    width:600px;
}
.close-button
{
    width:25px;
    height:25px;
    border:none;
    margin-left: 200px;
    background-color: transparent;
    padding: 0px;
    color: gray;
}
.close-button:hover{
    cursor: pointer;
}
#header
{
    display:flex;
}
::ng-deep .tab .mat-tab-body-wrapper{
   
    width: 860px !important;
   
    height: 900px !important;

}
::ng-deep .tab .mat-tab-header{
   
    width: 860px !important;
    
}

:host{
    box-sizing: border-box;
    display: block;
    height: 100%;
  }
  #wrapper{
    padding: 0px; 
    min-height: 90%; 
    height: 90%; 
    box-sizing: border-box;/*new*/
  }
  ::ng-deep .tab{
    height: 100%;
  }
 ::ng-deep .tab.mat-tab-body {
    height: 100%;
  }
  
  ::ng-deep .tab-group.mat-tab-body-wrapper {
   
    height: 100%;
  }
  ::ng-deep .tab-group.mat-tab-body-content {
   height: 100%;
  }