<br><br>
<div class="filter-icon-div"><span class="filter-class">Filters</span><mat-icon>filter_list</mat-icon></div>
<div class="header"> <mat-icon class="icon">keyboard_arrow_right</mat-icon>&nbsp;&nbsp;<span class="header-text">Study </span></div><br>

<div class="header"> <mat-icon class="icon">keyboard_arrow_down</mat-icon>&nbsp;&nbsp;<span class="header-text">Expected Data </span></div>


<table id="mainTable">
    <tbody class="mainDiv" *ngFor="let d of data; let i = index">
    <tr class="table-header-color" *ngIf='!i'>
      <th>EXPECTED DATA CATEGORY</th>
      <th>APPLIED DATA TRAJECTORY</th> 
      <th>APPLIED VISIT</th>
      <th>SOURCE</th>
      <th>DATA TRANSFER FREQUENCY</th>
      <th>CRITICAL DATA</th>
    </tr>

    <tr >
        
        <td (click)="togglePanel(i)"> <mat-icon class="icon-1">{{arrow[i]}}</mat-icon><span class="text-align">{{d.expectedDataCategory}}</span></td>
        <td>{{d.appliedDataTrajectory}}</td>
        <td>{{d.appliedVisit}}</td>
        <td>{{d.source}}</td>
        <td>{{d.dataTransferFrequency}}</td>
        <td>{{d.criticalData}}</td>
    </tr> 
   <!-- <tr id="hide-div"><td colspan="6"><div>This is the div</div></td></tr>-->
   <ng-container *ngIf="panelState[i]">
    <tr><td class="check-table" colspan="6">
     <table class="table2">
       <tr><th id="header-row"colspan="11">{{d.expectedDataCategory}} IDRP Checks</th></tr>
        <tr class="second-row">
          <th>Purpose</th>
          <th>Description</th> 
          <th>Visit</th>
          <th>Role</th>
          <th>Method</th> 
          <th>Frequency</th>
          <th>Owner</th>
          <th>Check Name</th> 
          <th>Query Text</th>
          <th>Source</th>
          <!--<th>Actions</th>-->
        </tr>
        <tr class="second-table" *ngFor="let check of d.idrpCheckList; let i = index">
          <td>{{check.purpose}}</td>
          <td id="description">{{check.description}}</td> 
          <td>{{check.visit}}</td>
          <td>{{check.role}}</td>
          <td>{{check.method}}</td> 
          <td>{{check.frequency}}</td>
          <td>{{check.owner}}</td>
          <td>{{check.checkName}}</td> 
          <td>{{check.queryText}}</td>
          <td>{{check.source}}</td>
          <!--<td><mat-icon class="action-icon">delete</mat-icon><mat-icon class="action-icon">edit</mat-icon></td>-->
        </tr>
      </table>
    </td></tr></ng-container>
  </tbody>
</table>

