<div id='header'><p mat-dialog-title class="title">
    Map Expected Data Forms <br>
    From EDC to Expected Categories for DATA TRAJECTORY1</p> 
    <button class="close-button" (click)="onNoClick()"><mat-icon>close </mat-icon></button>
  </div>
  <hr>
  <table id="mainTable" >
     <tr class="table-header-color">
       <th>Expected Data Form</th>
       <th>Expected Data Category</th> 
     </tr>
     <tr *ngFor="let t of data; let i = index">
        <td id="col-1">{{data[i].expectedDataForm}}</td>
        <td id="col-2">
          <select (change)="onSelect($event.target.value, i)" id="category" placeholder="Select a category">
          <option value="0" disabled selected hidden>Select a category</option>
          <option *ngFor="let item of data[i].expectedDataCategory; let j = index" [value]="data[i].expectedDataCategory[j]">{{data[i].expectedDataCategory[j]}}</option>
          </select>
        </td>
  
     </tr>
   </table>
  
  <mat-dialog-actions align="end">
    <button mat-button (click)='openAddExpectedDataDialog()'cdkFocusInitial class="button-1">Next</button>
    <button mat-stroked-button mat-dialog-close class="button-2">Cancel</button>
  </mat-dialog-actions>
  