/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  

  .mat-tab-header
  {
      width:510px !important;
      
  }

  .mat-tab-body-wrapper
  {
    width:1140px !important;
  }
  
  .mat-tab-label
  {
      padding:10px !important;
      min-width:80px !important;
      color:rgb(39, 38, 38);
      font-size:12px;
    
  }

  .mat-ink-bar{
    background-color: rgb(17, 123, 209) !important;
  }
  
  .mat-tab-label:hover
  {
    color: rgb(17, 123, 209);
  }

  .mat-tab-label:active
  {
    font-weight: bold;
    color: rgb(17, 90, 226);
  }